/* PRESENTATION
* CSS: https://cssreference.io
* Google Doodle Template:
https://codepen.io/manikoth/pen/NNNBYe.css
*/

/* Diagnostic Styling */
#stage {
  position:relative;
}

/* Stage */
#stage {
width: 700px;
height: 300px;
}

#d20 {
position:absolute;
width:105px;
left:284px;
bottom:85px;
}