/*
  DIAGNOSTIC STYLING
*/
#doodle{
  margin:auto;
  width:95%;
  display: block;
}
#gogle {
  transform:scale(2);
  width:45vw;
  margin:auto;
}
#d20 {
  position:absolute;
  max-width:10%;
  
}
#template{
  display:block;
  margin:30px;
}
/* Your Awesome Scripts */